.deckBlock {
    width: 500px;
    height: 200px;
    background-color: white;
    color: black;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}