header {
    width: 100%;
    height: 80px;
    position: relative;

    display: flex;
    justify-content: center;
    flex-shrink: 0;

    /* background: linear-gradient(180deg, rgb(235, 164, 164) 0%, rgb(151, 151, 151) 100%); */
    background-color: rgba(63, 29, 65, 0.6);
    box-shadow: 0px 3px 6px rgba(148, 148, 148, 0.5);

}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;    
}

nav {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 15px;
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
}


nav a {
    text-decoration: none;
    transition: 0.1s linear;
    color: white;
}


.nav-0 {
    margin-right: 20px;
}

nav a:visited {
    color: rgba(255, 255, 255, 0.8);
}

nav a:hover {
    color: rgb(66, 66, 66);
    transform: translateY(-1px);
}

.nav-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.iconUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
    transition: 0.1s linear;
    cursor: pointer;
}

.iconUser:hover{
    filter: brightness(0.8);
}

.icon-app {
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(51, 51, 51, 0.4);
}


@media (max-width: 650px) {
    .icon-app {
        display: none;
    }

}

.more-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    position: absolute;
    top: 100%;

    background-color: rgb(94, 87, 95);
    box-shadow: 0 0 2px rgba(58, 58, 58, 0.8);
    border-radius: 6px;
    padding: 5px 5px 10px 5px;

    width: 200px;

}

.btn-more-info {

    background: transparent;
    border: none;
    border-radius: 6px;

    display: flex;
    justify-content: flex-start;
    gap: 5px;

    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    
}

.btn-more-info:hover {
    background: rgba(51, 51, 51, 0.8);
}