.layout {
    display: flex;
    justify-content: center;
}

.mainContent {
    display: flex;
    align-items: start;
    
    height: fit-content;
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 10px;
}

.blockInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

.otherInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 230px;

    box-shadow: 0px 0px 4px rgba(68, 68, 68, 0.6);
    border-radius: 8px;

    
    width: 100%;
    padding: 10px;
}

.avatar {
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(68, 68, 68, 0.3);
    transition: 0.2s ease;
    cursor: pointer;
}

.avatar:hover {
    filter: brightness(0.7);
}

.avatarPreload {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0 5px;
    object-fit: contain; /* или cover, но с осторожностью */
}

.formAvatar {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: rgb(110, 110, 110);
    box-shadow: 0 0 5px rgba(68, 68, 68, 0.3);
    border-radius: 10px;
    width: 400px;
    height: 400px;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiddenInput {
    display: none;
}

.buttonAvatar {
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #84d6f0;
    margin-top: 20px;
    color: #fff;
    transition: 0.15s ease-in;
    cursor: pointer;

    width: 70%;
}

.buttonAvatar:hover {
    background-color: #65aee9;
}

.plus {
    font-size: 50px;
    cursor: pointer;
    transition: 0.15s ease;
}

.plus:hover {
    transform: scale(1.1);
}


.customUpload {
    width: 90%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.darkBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.2)
}

/* Deck data */
.decks {
    display: grid;
    grid-template-columns: 155px 155px 155px 155px;
    gap: 1%;
}

.deck {
    height: 250px;
    box-shadow: 0 0 4px rgba(68, 68, 68, 0.6);
    border-radius: 8px;
    position: relative;
    display: flex;
}

/* it's up to you */
/* .deckName {
    position: absolute;
    width: 100%;
    left: 50%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    transform: translate(-50%);
    background-color: rgba(184, 184, 184, 0.7);

    display: flex;
    justify-content: center;
} */

.deckName {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transform: translate(-50%);
    background-color: rgba(184, 184, 184, 0.8);

    display: flex;
    justify-content: center;
}


.deckBackground {
    border-radius: 8px;
    cursor: pointer;
}

.newDeckForm {
    height: 250px;
    box-shadow: 0 0 4px rgba(68, 68, 68, 0.6);
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.newDeckButton {
    cursor: pointer;
    font-size: 50px;
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.newDeckForm:hover {
    background-color: rgba(230, 230, 230, 0.3);
    box-shadow: 0 0 4px rgba(19, 19, 19, 0.7);
}

.createDeckForm {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    max-width: 90vw;
    height: 400px;
    
    background-color: #fff;
    /* background-color: rgb(110, 110, 110); */
    box-shadow: 0 0 5px rgba(68, 68, 68, 0.3);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

.createDeckInput {
    width: 80%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid rgba(68, 68, 68, 0.4) ;
    box-shadow: 0 0 2px rgba(68, 68, 68, 0.4);
    outline: none;
}

.createDeckInput:focus {
    border: 1px solid rgba(82, 113, 255, 0.4) ;
    box-shadow: 0 0 3px rgba(82, 113, 255, 0.5);
}

.createDeckButton {
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #84d6f0;
    margin-top: auto;
    color: #fff;
    transition: 0.15s ease-in;
    cursor: pointer;
}

.createDeckButton:hover {
    background-color: #65aee9;
}

/* User change name data */
.nameInput {
    width: 105px;
    font-size: 20px;
    padding: 1px;
    border: 1px solid rgba(73, 73, 73, 0.3);
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(68, 68, 68, 0.3);
    outline: none;
}

.nameInput:focus {
    border: 1px solid #7bdaff;
    box-shadow: 0 0 2px rgba(82, 113, 255, 0.8);
    box-shadow: 0 0 2px rgba();
}

